$light-color: #f4f4f4;
$font-stack: Arial, Helvetica, sans-serif;
$primary-color: #4267b2;
$secondry-color: #ff8700;
// $primary-color: #e0ffff;

// seting text color based on the backdrown

@function set-text-color($color) {
  @if (lightness($color) >70) {
    @return #333;
  } @else {
    @return #ffffff;
  }
}

@mixin set-color($color) {
  background-color: $color;
  color: set-text-color($color);
}
